@import './header.scss';
@import './homeIndex.scss';
@import './cards.scss';
@import './media.scss';
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #fcee0a;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
